head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title HALERATATTS
  link(rel='stylesheet' href='main.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
  link(rel='icon' href='/favicon.ico' type='image/x-icon')
  script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(type='text/javascript' src='unitegallery/js/unitegallery.min.js')
  link(rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css')
  script(type='text/javascript' src='unitegallery/themes/tiles/ug-theme-tiles.js')
//Yandex.Metrika counter
//
  <script type="text/javascript">
  (function(m, e, t, r, i, k, a) {
  m[i] = m[i] || function() {
  (m[i].a = m[i].a || []).push(arguments)
  };
  m[i].l = 1 * new Date();
  k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
  })
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym(62545624, "init", {
  clickmap: true,
  trackLinks: true,
  accurateTrackBounce: true
  });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/62545624" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
// /Yandex.Metrika counter
.wrapper
    header
        .container
            nav.header__navigation
                .header-logo
                    a.header-logo__link(href='#')
                        .header-logo__text HALERATATTS
                a.header__booking-link.header__booking-link--right(href='#booking') &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    section.halera
        .container.container--slideshow
            .slideshow.owl-carousel.owl-one
                .slideshow__picture.slideshow__picture--one
                .slideshow__picture.slideshow__picture--two
                .slideshow__picture.slideshow__picture--three
    section#about-me.about-me
        .container.container--about-me
            h2.section-heading &Pcy;&rcy;&icy;&vcy;&iecy;&tcy;! &Mcy;&iecy;&ncy;&yacy; &zcy;&ocy;&vcy;&ucy;&tcy; &Lcy;&iecy;&rcy;&acy; &icy; &yacy; &tcy;&acy;&tcy;&ucy;-&mcy;&acy;&scy;&tcy;&iecy;&rcy;
            h2.section-heading CV:
            ul.achievments
                li.achievment
                    .achievment__date
                        | 1989
                    .achievment__event
                        | &Pcy;&acy;&dcy;&iecy;&ncy;&icy;&iecy; &Bcy;&iecy;&rcy;&lcy;&icy;&ncy;&scy;&kcy;&ocy;&jcy; &scy;&tcy;&iecy;&ncy;&ycy;
                li.achievment
                    .achievment__date
                        | 1994
                    .achievment__event
                        | &YAcy; &rcy;&ocy;&dcy;&icy;&lcy;&acy;&scy;&softcy;
                li.achievment
                    .achievment__date
                        | 2000
                    .achievment__event
                        | &Pcy;&ucy;&tcy;&icy;&ncy; &pcy;&rcy;&iecy;&zcy;&icy;&dcy;&iecy;&ncy;&tcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;
                li.achievment
                    .achievment__date
                        | 2016
                    .achievment__event
                        | &Scy;&dcy;&iecy;&lcy;&acy;&lcy;&acy; &pcy;&iecy;&rcy;&vcy;&ucy;&yucy; &tcy;&acy;&tcy;&ucy;&icy;&rcy;&ocy;&vcy;&kcy;&ucy;
                li.achievment
                    .achievment__date
                        | 2017
                    .achievment__event
                        | &Ncy;&acy;&chcy;&acy;&lcy;&acy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &vcy; &scy;&tcy;&ucy;&dcy;&icy;&icy;
                li.achievment
                    .achievment__date
                        | 2018
                    .achievment__event
                        | &CHcy;&iecy;&mcy;&pcy;&icy;&ocy;&ncy;&acy;&tcy; &mcy;&icy;&rcy;&acy; &pcy;&ocy; &fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&ucy; &vcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;
                li.achievment
                    .achievment__date
                        | 2019
                    .achievment__event
                    | &Pcy;&ocy;&lcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &ocy;&tcy;&kcy;&acy;&zcy;&acy;&lcy;&acy;&scy;&softcy; &ocy;&tcy; &kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;&scy;&kcy;&ocy;&jcy; &tcy;&acy;&tcy;&ucy;&icy;&rcy;&ocy;&vcy;&kcy;&icy;
                li.achievment
                    | &Vcy; &scy;&vcy;&ocy;&iecy;&jcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy; &yacy; &pcy;&rcy;&iecy;&dcy;&pcy;&ocy;&chcy;&icy;&tcy;&acy;&yucy; &chcy;&tcy;&ocy;&bcy;&ycy; &mcy;&acy;&shcy;&icy;&ncy;&kcy;&acy; &dcy;&iecy;&lcy;&acy;&lcy;&acy; &zhcy;&zhcy;&zhcy;&zhcy; &icy; &mcy;&ncy;&iecy; &ncy;&iecy; &vcy;&scy;&iecy; &rcy;&acy;&vcy;&ncy;&ocy;, &chcy;&tcy;&ocy; &bcy;&icy;&tcy;&softcy;
    section.works
        .works-gallery
            .works-gallery__navigation
                h2.section-heading.gallery-navigation-button.gallery-navigation-button--works Работы
                .gallery-navigation__separator /
                h2.section-heading.gallery-navigation-button.gallery-navigation-button--sketches Эскизы
            .works-gallery__works
                #gallery.works-gallery__previews(style='display:none;')
                    - for (let i = 1; i < 21; i++)
                        img(alt='' src='img/works/' +i + '.jpg' data-image='img/works/' + i +'.jpg')
            .works-gallery__sketches
                 #gallery2.works-gallery__previews(style='display:none;')
                    - for (let i =40; i >0 ; i--)
                        img(alt='' src='img/sketches/' +i + '.jpg' data-image='img/sketches/' + i +'.jpg')
    footer
        .container
            .footer__content
                #booking.booking
                    .booking__content
                        | &Zcy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &scy;&iecy;&acy;&ncy;&scy;, &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&bcy;&ocy;&dcy;&ncy;&ycy;&jcy; &ecy;&scy;&kcy;&icy;&zcy; &icy;&lcy;&icy; &ocy;&bcy;&scy;&ucy;&dcy;&icy;&tcy;&softcy; &scy;&vcy;&ocy;&jcy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy;, &vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&mcy; &dcy;&lcy;&yacy; &vcy;&acy;&scy; &scy;&pcy;&ocy;&scy;&ocy;&bcy;&ocy;&mcy;
                        ul.booking__links
                            li.booking__link
                                a.booking__href(href='https://www.instagram.com/haleratatts/ ')
                                    img.booking__svg(src='img/graphics/instagram.svg ' alt=' ')
                            li.booking__link
                                a.booking__href(href='https://teleg.run/haleratatts ')
                                    img.booking__svg(src='img/graphics/telegram.svg ' alt=' ')
                            li.booking__link
                                a.booking__href(href='https://vk.com/haleratattoo ')
                                    img.booking__svg(src='img/graphics/vk.svg ' alt=' ')
            .credits
                | &Scy;&acy;&jcy;&tcy; &scy;&dcy;&iecy;&lcy;&acy;&lcy; &Tcy;&iocy;&mcy;&acy; &Ncy;&icy;&kcy;&icy;&tcy;&icy;&ncy;
                a.credits__link(href='https://teleg.run/VincentVanKek ')   @VincentVanKek
script(type='text/javascript ' src='owlcarousel/js/owl.carousel.js ')
script(type='text/javascript ' src='owlcarousel/js/owl.carousel.min.js ')
script(type='text/javascript ' src='script/header.js ')
script(type='text/javascript ' src='script/slideshow.js ')
script(type='text/javascript ' src='script/gallery.js ')
script(type='text/javascript ' src='script/pictureShow.js ')