.halera {
    margin-top: 45rem;
}

.container--slideshow {
    display: flex;
    justify-content: center;
}

.slideshow {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slideshow__picture {
    height: 150rem;
    width: 100%;
    display: block;
}

.slideshow__picture--one {
    background: url("img/slideshow/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.slideshow__picture--two {
    background: url("img/slideshow/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.slideshow__picture--three {
    background: url("img/slideshow/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.description {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.description__text {
    font-size: 20rem;
    color: #403e3e;
}

@media (min-width: 720px) {
    .halera {
        margin-top: 70rem;
    }
    .slideshow__picture {
        height: 250rem;
        width: 100%;
    }
    .container--description {
        max-width: 75%;
    }
    .description {
        text-align: left;
    }
}