footer{
    background:#403E3E;
    

}
.footer__content {
    color:#fff;
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}
.booking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




.booking__content {
    max-width: 66%;
    font-size: 18rem;
   
    
    overflow: hidden;
    transition: 0.3s
   
}

.booking__links {
    display: flex;
    justify-content: center;
}

.booking__link {
    color: #d6249f;
    font-weight: bold;
    font-size: 28rem;
    margin-right: 10rem;
    margin-top: 10rem;
 
    
    text-align: center;
    text-decoration: underline
}

.booking__link:last-child {
    margin-right: 0;
}




.booking__link:visited {
    color: #d6249f
    
}

.booking__content--opened {
    height: auto;
    transition: 0.3s
}

.booking__svg {
   
    height: 40rem;
    width: 40rem;
    
}

.credits {
   width: 100%;


margin-bottom: 10rem;
margin-top: 50rem;
font-size: 12rem;
color: #fff

}

.credits__svg {
    height: 15rem;
    width: 15rem;
    display: inline-block;
    margin: 0 2rem 0 7rem;
    
}