footer{
    background:#030706;

}
.footer__content {
    color:#fff;
    display: flex;
    justify-content: center;
}
.booking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




.booking__content {
    max-width: 66%;
   
    //height: 0rem;
    overflow: hidden;
    transition: 0.3s
   
}

.booking__link {
    color: #d6249f;
    font-weight: bold;
    font-size: 28rem;
 
    
    text-align: center;
    text-decoration: underline
}




.booking__link:visited {
    color: #d6249f
    
}

.booking__content--opened {
    height: auto;
    transition: 0.3s
}
