footer{
    background:#030706;

}
.footer__content {
    color:#fff;
    display: flex;
    justify-content: center;
}
.booking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.booking__button {
background: inherit;
border: none;
color: inherit;
cursor: pointer;
border: 3px solid #d6249f;
border-radius: 10px;
padding: 10rem;
font-weight: bold;
text-transform: uppercase

}



.booking__content {
    max-width: 66%;
    margin: 10rem;
    height: 0rem;
    overflow: hidden;
    transition: 0.3s
   
}

.booking__link {
    color: #d6249f;
    font-weight: bold;
    font-size: 28rem;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline
}




.booking__link:visited {
    color: #d6249f
    
}

.booking__content--opened {
    height: auto;
    transition: 0.3s
}
