header {
 
    background: #030706;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998
    
}


.header-logo {
    font-size: 28rem;
    
    display: flex;
    text-transform:uppercase;
    
    justify-content: center;
    
    
    color:#d6249f;

    font-family: 'New Rocker', cursive;

    transition: 0.3s
}

.header-logo__link {
    display: flex;
    align-items: center
}

.header-logo__svg {
   
      height: 24rem;
      width: 24rem;
      margin: 3rem
  }

  .header--small .header-logo {
    font-size: 18rem;
    margin: 0

}

.header--small .header-logo__svg {
   
    display: none
}



  @media (min-width: 720px) {
      .header-logo {font-size: 42rem;
    margin: 5rem 0 5rem 0}
      .header-logo__svg {
   
        height: 40rem;
        width: 40rem;
        margin: 5rem
    }
    .header--small .header-logo {
        font-size: 28rem;
        margin: 0
    
    }
    
    .header--small .header-logo__svg {
       
        height: 24rem;
        width: 24rem;
        margin: 3rem;
        display: block
    }

      
  }

