.works {
  margin-bottom: 5rem;
}

.works-gallery {
  max-width: 75%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .works-gallery {
    max-width: 95%;
    margin: 0 auto;
  }
}

.works-gallery__navigation {
  display: flex;
  align-items: center;
}

.gallery-navigation-button {
  cursor: pointer;
  text-decoration: underline;
}

.works-gallery__sketches {
  display: none;
}
